.body {
    max-width: 1515px;
}

.header {
    background-color: #FFFFFF;
    max-width: 1515px;
    margin: 0 auto;
    height: 99px;
}

.header__inner {

    padding: 10px 15px;

}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0DFDE;

}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-size: 40px;
    margin: 0 auto;
}


.header-nav {
    list-style: none;
    width: 100px;
    height: 34px;
}

.header-nav__link {
    text-decoration: none;
    padding: 3px;
    width: 98px;
    height: 32px;
    top: 34px;
    left: 1317px;
    border: none;
    font-size: 20px;
    color: #D9C6B5;
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.6);
    border: 1px solid #D9C6B5;
    text-align: center;
}

.admin-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1512px;

}

.admin-form__heading {
    padding-bottom: 10px 10px;
    text-align: center;

}

h2 {
    font-weight: 400;
    font-size: 35px;
    color: #8B7969;
}

.search-form {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 1184px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
}

.form__input--text {
    margin: 0%;
}

.form__input--text input {
    appearance: none;
    border: 1px solid #E3DED9;
    width: 403px;
    height: 50px;
    background: #FBFBFB;
}

::placeholder {
    color: #BEB1A6;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.admin-form__item-gender {
    width: 119px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.admin-form__item-gender option {
    text-align: center;
}

.admin-form__item-select {
    width: 259px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.admin-form__item-select option {
    text-align: center;
}

.form__input--date {
    width: 292px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}


data-controls {
    position: absolute;
}

.form__button {
    margin-top: 67px;
    margin-left: 140px;
}

.form__input--export {
    display: inline-flex;
    padding: 8px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: rgba(225, 219, 214, 0.60);
    color: #8B7969;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
}


.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.pagination {
    position: relative;
    bottom: 45px;
    right: 135px;
    display: flex;
    justify-content: right;
    text-align: center;

    a {
        display: inline-block;
        padding: .5rem .7rem;
        background-color: #FFF;
        text-decoration: none;
        color: #8B7969;


        &:hover,
        &:focus {
            background-color: #ddd;
        }
    }
}

.pagination__prev {
    &::before {
        content: '<';
    }
}

.pagination__next {
    &::before {
        content: '>';
    }
}

.pagination__items {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    counter-reset: pagination;
    margin: 0 1px;

    li {
        position: absolute;
        top: -100vh;
        counter-increment: pagination;
        margin: 0 1px;
        border: 1px solid #E0DFDE;

        &:first-child,
        &:last-child {
            position: static;

        }

        &.is-active {
            position: static;

            &:not(:nth-child(1)):not(:nth-child(2)) {
                &::before {
                    content: '...';
                    display: inline-block;
                    padding: .5rem .7rem;
                    background-color: #FFF;
                    margin-right: 2px;

                }
            }

            &+li,
            &+li+li {
                position: static;
            }

            &+li+li:not(:last-child):not(:nth-last-child(2)) {
                &::after {
                    content: '...';
                    display: inline-block;
                    padding: .5rem .7rem;
                    background-color: #FFF;
                    margin-left: 2px;
                    border: 1px solid #E0DFDE;
                }
            }
        }
    }

    a {
        &::before {
            content: counter(pagination);
        }
    }

    .is-active a {
        background-color: #8B7969;
        color: #FFFFFF;
    }
}

.admin-table {
    padding: 35px;
}

.admin-table__inner {
    margin: 0 auto;
    width: 1183px;
    height: 394px;
    flex-shrink: 0;
    border: 1px solid #E0DFDE;
    background: #FFF;
}

.admin-table__title {
    width: 1183px;
    height: 59px;
    flex-shrink: 0;
    background: #8B7969;

}

.admin-table__header {
    padding: 17px;
    display: inline-flex;
    align-items: flex-start;
    text-align: center;
    gap: 120px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.admin-table__item {
    border-bottom: 1px solid #E0DFDE;

}

.update-form {
    padding: 17px;
    display: inline-flex;
    align-items: flex-start;
    gap: 90px;
    color: #8B7969;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.detail-form__button-submit {
    display: inline-flex;
    padding: 8px 20px;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid rgba(217, 198, 181, 0.60);
    background: rgba(244, 244, 244, 0.30);
    color: #D9C6B5;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.reset__button {
    text-align: center;
    margin-top: 80px;
}

.reset__button-submit {
    display: inline-flex;
    padding: 10px 40px;
    flex-direction: column;
    align-items: flex-start;
    background: #82756A;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;

}