.body {
    max-width: 1512px;
}

.header {
    background-color: #FFFFFF;
    max-width: 1512px;
    margin: 0 auto;
    height: 99px;
}

.header__inner {

    padding: 10px 15px;

}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0DFDE;

}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-size: 40px;
    margin: 0 auto;
}


.header-nav {
    list-style: none;
    width: 100px;
    height: 34px;
}

.header-nav__link {
    text-decoration: none;
    padding: 3px;
    width: 100px;
    height: 34px;
    top: 33px;
    left: 1317px;
    border: none;
    font-size: 20px;
    color: #D9C6B5;
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.6);
    border: 1px solid #D9C6B5;
}

.login-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1512px;
    background-color: #f1ece7;
}

.login-form__heading {
    padding-bottom: 10px 10px;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 35px;
    color: #8B7969;
}



.form {
    margin: 0 auto;
    width: 736px;
    height: 579px;
    top: 264px;
    left: 388px;
    background-color: #FFFFFF;
    border: 1px solid #C5B9B0;
    border-radius: 10px;
    text-align: center;
}

.form__group {
    padding: 63px 30px 20px 20px;
    text-align: center;
}

.form__label--item {
    margin-right: 300px;
    color: #8B7969;
    font-size: 25px;
    font-weight: 400px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 445px;
    height: 55px;
    top: 558px;
    left: 534px;
    border: 1px solid #F4F4F4;
    background-color: #F4F4F4;
    border-radius: 3px;
    appearance: none;
}

.form__input--text input {
    height: 25px;
}

::placeholder {
    color: #BEB1A6;
}

.login__button {
    margin-top: 30px;
    text-align: center;

}

.login__button-submit {
    padding: 10px 40px 10px 40px;
    width: 160px;
    height: 46px;
    top: 708px;
    left: 676px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #82756A;
    font-size: 20px;

}